.ticTocToe {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    .row {
        display: flex;
        flex-direction: column;
        .col {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid white;
            width: var(--size);
            height: var(--size);
            .line {
                position: absolute;
                background: chocolate;
                &.horizontal {
                    width: var(--size);
                    height: 2px;
                }
                &.vertical {
                    width: 2px;
                    height: var(--size);
                }
                &.topLeftDiagonal {
                    width: 2px;
                    height: calc(var(--size) + 20px);
                    transform: rotateZ(-45deg);
                }
                &.topRightDiagonal {
                    width: 2px;
                    height: calc(var(--size) + 20px);
                    transform: rotateZ(45deg);
                }
            }
        }
    }
}