.book {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .page {
        width: 200px;
        height: 300px;
        margin: 10px 0; 
        border: 1px solid white;
        padding: 10px;
    }
    .controller {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .current-page {
        margin: 0 10px;
    }
}
