.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav {
  display: flex;
  gap: 10px;
}

.nav .book-btn {
  margin: 0 20px;
}

.main {
  margin-top: 20px;
}